

.inicio1 {
  background-image: url(../../../../assets/imagens/titulo1.jpg);
  background-size: cover;
  width: 100%;
  height: 60vh;
  max-height: 100%;
     
}

.titulo {
  padding: 5%;
  padding-top: 12%;
  padding-bottom: 2%;
  color: white;
  width: 70%;
  color: #65b24a;
  font-weight: bold;
  font-size: 45px;
  
}

.p1titulo {
  padding-left: 5%;
  padding-bottom: 1%;
  color: white;
  max-width: 60%; 
  
  
}



.imgslide {
  max-height: 70vh;
  object-fit: cover;
  min-height: 60%;
  

}

.s1, .s2 , .s3 {
    background-color: rgba(0, 0, 0, 0.233);
    
}


.sobre_nosotros {
  margin: 5%;
  margin-bottom: 2%;
  padding: 50px;
  padding-top: 20px;
  color: #65b24a;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
}

.titObjetivo {
  color: #224b9d;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2%;
}



.objetivo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-left: 10%;
  margin-right: 4%;
  margin-bottom: 5%;

}


.card-text {
  text-align: center;
  vertical-align: middle;
  margin-left: 5%;
  margin-right: 5%;






}

.card-body {
  padding: 3%;
  padding-left: 6%;
  padding-right: 6%;


}


.tituloAsesoria {
  color: #224b9d;
  font-weight: bold;
  text-align: center;
  /* padding-left: 8%; */
  margin-bottom: 2%;
  /* width: 45%; */
  margin-top: 5%
}

.contenedorAsesoria {
  text-align: center;
  margin: 8%;
  margin-top: 3%;
  margin-bottom: 1%;
  padding: 50px;
  padding-top: 2%;
  padding-bottom: 2%;
  color: #65b24a;
  font-size: 20px;
  font-weight: bold;




}

.contenedorTabla {
  text-align: center;
  margin: 8%;
  margin-top: 1%;
  margin-bottom: 10%;
  padding: 3%;
  padding-top: 1%;
  padding-bottom: 2%;



}

.col {

  text-align: center;
  vertical-align: center;
  height: 30%;

}

.card-title {
  color: #224b9d;
  font-weight: bold;
}


.card-body2 {
  padding: 3%;
  padding-left: 6%;
  padding-right: 6%;
  background-color: rgba(255, 255, 255, 0.075);
}

