/* Sección 1, fondo */


.tituloServicios,
.tituloInhouse {
  color: #224b9d;
  font-weight: bold;
  text-align: center;
  margin: 2%;
  margin-top: 7%;
  margin-bottom: 5%;

}

.imgfondo {
  background-image: url(../../../assets/imagens/servicios/fondo.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 20rem;
  max-height: 20rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}


@media (max-width: 768px) {

  .tituloServicios,
  .tituloInhouse {
    font-size: 25px;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .imgfondo {
    width: 100%;
    height: 200px;

  }
}




/* Sección 2, cards */

.contenedor-cards {
  display: flex;
  justify-content: center;
}


.card1,
.card2,
.card3,
.card4,
.card5,
.card6,
.card7,
.card8,
.card9 {

  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;

  box-sizing: border-box;
  width: 20%;
  height: 254px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
  margin: 3%;
}

.card-details {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
}

.card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.text-body {
  color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  /* background-color: #12131318;
  border-radius: 10px;
  background-color: #224b9d8b; */
}

/*Hover*/
.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover,
.card5:hover,
.card6:hover,
.card7:hover,
.card8:hover,
.card9:hover {
  border-color: #224b9d;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
}

.card1:hover .card-button,
.card2:hover .card-button,
.card3:hover .card-button,
.card4:hover .card-button,
.card5:hover .card-button,
.card6:hover .card-button,
.card7:hover .card-button,
.card8:hover .card-button,
.card9:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}




@media (max-width: 768px) {
  .contenedor-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 30px;
    margin-bottom: 7%;
    /* Establece el flujo de columna */


  }

  .contenedor-cards .card1,
  .contenedor-cards .card2,
  .contenedor-cards .card3,
  .contenedor-cards .card4,
  .contenedor-cards .card5,
  .contenedor-cards .card6,
  .contenedor-cards .card7,
  .contenedor-cards .card8,
  .contenedor-cards .card9 {
    width: 70%;
    height: 150px;
    margin: 0 auto;
  }

  .text-title {
    font-size: 20px;
  }

}









.card1 {
  background-image: url(../../../assets/imagens/servicios/diseno3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}


.card2 {

  width: 30%;
  height: 254px;
  background-image: url(../../../assets/imagens/servicios/evaluacion.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}





.card3 {
  width: 20%;
  height: 254px;
  background-image: url(../../../assets/imagens/servicios/capacita.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



.card4 {

  width: 20%;
  height: 254px;
  background-image: url(../../../assets/imagens/servicios/programa.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}



.card5 {
  width: 20%;
  height: 254px;
  background-image: url(../../../assets/imagens/servicios/matriz.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



.card6 {
  width: 30%;
  height: 254px;
  background-image: url(../../../assets/imagens/servicios/inves.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



.card7 {
  width: 25%;
  height: 254px;
  background-image: url(../../../assets/imagens/servicios/emergencias.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



.card8 {
  width: 20%;
  height: 254px;
  background-image: url(../../../assets/imagens/servicios/dinamicas.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card9 {
  width: 25%;
  height: 254px;
  background-image: url(../../../assets/imagens/servicios/aplicativo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}




/* Sección Servicios Inhouse: */


.text-inhouse {
  margin: 5%;
  margin-bottom: 2%;
  padding: 50px;
  padding-top: 20px;
  color: #65b24a;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
}


.inhouse-cards {
  display: flex;
  justify-content: center;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 10%;


}


.card-title {
  color: #224b9d;
  font-weight: bold;
  padding-top: 5%;
  padding-bottom: 2%;
  text-align: center;

}

.card {
  margin: 2%;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}



@media (max-width: 768px) {
  .text-inhouse {
    display: none;

  }

  .text-inhouseMovil::before {

    content: " Con nuestros servicios inhouse de SST, puedes mantener un entorno laboral seguro y saludable de manera eficiente y personalizada.";
    color: aliceblue;
    margin: 5%; 
    padding-top: 5px;
    padding-bottom: 5%;
    color: #65b24a;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;

  }

  .inhouse-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10%;
  }

 

}