

<section class="imgfondo">

</section>


<h1 class="tituloServicios">Nuestros Servicios</h1>





<section class="contenedor-cards">


    <div class="card1">
        <div class="card-details">
            <p class="text-title">Diseño e Implementación del SG-SST</p>
            
        </div>
        <button class="card-button">Ver más</button>
    </div>

    <div class="card2">
        <div class="card-details">
            <p class="text-title">Evaluaciòn inicial del SG-SST</p>
            <!-- <p class="text-body">Here are the details of the card</p> -->
        </div>
        <button class="card-button">Ver más</button>
    </div>

    <div class="card3">
        <div class="card-details">
            <p class="text-title">Capacitaciones en SST</p>
            <!-- <p class="text-body">Here are the details of the card</p> -->
        </div>
        <button class="card-button" >Ver más</button>
        
    </div>

</section>






<section class="contenedor-cards">


    <div class="card4">
        <div class="card-details">
            <p class="text-title">Programas de Gestiòn de Riesgos</p>
            <!-- <p class="text-body">Here are the details of the card</p> -->
        </div>
        <button class="card-button">Ver más</button>
    </div>

    <div class="card5">
        <div class="card-details">
            <p class="text-title">Matriz de Peligros</p>
            <!-- <p class="text-body">Here are the details of the card</p> -->
        </div>
        <button class="card-button">Ver más</button>
    </div>
    <div class="card6">
        <div class="card-details">
            <p class="text-title">Investigaciones de accidentes de trabajo y enfermedades laborales</p>
            <!-- <p class="text-body">Here are the details of the card</p> -->
        </div>
        <button class="card-button">Ver más</button>
    </div>



   

</section>


<section class="contenedor-cards">


    <div class="card7">
        <div class="card-details">
            <p class="text-title">Planes de prevención, preparación y respuesta ante emergencias</p>
        </div>
        <button class="card-button">Ver más</button>
    </div>

    <div class="card8">
        <div class="card-details">
            <p class="text-title">Actividades Ludicas de SST</p>
        </div>
        <button class="card-button">Ver más</button>
    </div>

    <div class="card9">
        <div class="card-details">
            <p class="text-title">Aplicativo Web para seguimiento del SG-SST</p>
        </div>
        <button class="card-button">Ver más</button>
    </div>


    
</section>


<h1 class="tituloInhouse">Servicios Inhouse SST</h1>

<section class="inhouse">
    <p class="text-inhouse">
        Ofrecemos servicios inhouse de SST (Seguridad y Salud en el Trabajo) para tu empresa, brindando soluciones integrales de gestión de seguridad laboral directamente desde tu organización. Nuestro equipo de expertos se encarga de implementar políticas de prevención, capacitar a tu personal, realizar inspecciones y asegurarse de que cumplas con todas las regulaciones de seguridad en el trabajo. Con nuestros servicios inhouse de SST, puedes mantener un entorno laboral seguro y saludable de manera eficiente y personalizada.
    </p>
    <p class="text-inhouseMovil"></p>

</section>




<section class="inhouse-cards">

    <div class="card" style="width: 20rem; border-top: 4px solid #224b9d">
        <div class="card-body">
          <h5 class="card-title">TECNOLOGO SST</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Diseño e implementación del SG-SST (empresas 1-50 trabajadores)</li>
            <li class="list-group-item">Capacitaciones</li>
            <li class="list-group-item">Inspecciones</li>
            <li class="list-group-item">Acompañamiento en investigaciones de accidentes de trabajo.</li>

          </ul>
        </div>
      </div>



      <div class="card" style="width: 20rem; border-top: 4px solid #224b9d">
        <div class="card-body">
          <h5 class="card-title">PROFESIONAL SST</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Diseño e implementación del SG-SST </li>
            <li class="list-group-item">Capacitaciones</li>
            <li class="list-group-item">Inspecciones</li>
            <li class="list-group-item">Investigaciones de accidentes de trabajo.</li>
            <li class="list-group-item">Administración del SG-SST.</li>
            <li class="list-group-item">Seguridad e Higiene Industrial</li>

          </ul>
        </div>
      </div>



      <div class="card" style="width: 20rem; border-top: 4px solid #224b9d">
        <div class="card-body">
          <h5 class="card-title">ESPECIALISTAS SST</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Profesionales especialistas en SST:</li>
            <li class="list-group-item">Psicologos</li>
            <li class="list-group-item">Fisioterapeutas</li>
            <li class="list-group-item">Ingenieros industriales</li>
            <li class="list-group-item">Otros especialistas requeridos según sea el caso.</li>

          </ul>
        </div>
      </div>


      






</section>

