<!-- <ul>
    <li *ngFor="let listaServicios of arrServicios">{{ listaServicios.nombre + ": " + listaServicios.descripcion }}</li>
</ul> -->

<section class="imgfondo">

</section>


<h1 class="tituloServicios">Descubre nuestra variedad de servicios en SST</h1>



<section class="cards">


    <div class="card1">
        <div class="card-details">
            <p class="text-title">Diseño e Implementación del SG-SST</p>
            <!-- <p class="text-body">Here are the details of the card</p> -->
        </div>
        <button class="card-button">Ver más</button>
    </div>

    <div class="card1">
        <div class="card-details">
            <p class="text-title">Evaluaciòn inicial del SG-SST</p>
            <!-- <p class="text-body">Here are the details of the card</p> -->
        </div>
        <button class="card-button">Ver más</button>
    </div>

    <div class="card1">
        <div class="card-details">
            <p class="text-title">Capacitaciones en SST</p>
            <!-- <p class="text-body">Here are the details of the card</p> -->
        </div>
        <button class="card-button">Ver más</button>
    </div>

</section>



<div class="card3">
    <div class="card-details">
        <p class="text-title">Programas de Gestiòn de Riesgos</p>
        <!-- <p class="text-body">Here are the details of the card</p> -->
    </div>
    <button class="card-button">Ver más</button>
</div>



<section class="cards">


    <div class="card2">
        <div class="card-details">
            <p class="text-title">Programas de Gestiòn de Riesgos</p>
            <!-- <p class="text-body">Here are the details of the card</p> -->
        </div>
        <button class="card-button">Ver más</button>
    </div>

    <div class="card2">
        <div class="card-details">
            <p class="text-title">Matriz de Peligros</p>
            <!-- <p class="text-body">Here are the details of the card</p> -->
        </div>
        <button class="card-button">Ver más</button>
    </div>

    <div class="card2">
        <div class="card-details">
            <p class="text-title">Investigaciones de AT y EL</p>
            <!-- <p class="text-body">Here are the details of the card</p> -->
        </div>
        <button class="card-button">Ver más</button>
    </div>

</section>


