<section id="servicios-inicio" class="imgfondo">

</section>


<h1 class="tituloServicios">Nuestros Servicios</h1>





<section class="contenedor-cards">


    <div class="card1">
        <div class="card-details">
            <p class="text-title">Diseño e Implementación del SG-SST</p>

        </div>
        <button class="card-button" data-bs-toggle="modal" data-bs-target="#exampleModal">Ver más</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Diseño e Implementación del SG-SST</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Documentación completa del SG-SST</li>
                        <li class="list-group-item">Comunicación efectiva sobre temas de seguridad y salud en el
                            trabajo.</li>
                        <li class="list-group-item">Programas de capacitación y formación en seguridad y salud.</li>
                        <li class="list-group-item">Comunicación efectiva sobre temas de seguridad y salud en el
                            trabajo.</li>
                        <li class="list-group-item">Programa de rehabilitación y reinserción laboral para trabajadores
                            lesionados.</li>
                        <li class="list-group-item">Evaluación de proveedores y contratistas en términos de seguridad y
                            salud.</li>
                        <li class="list-group-item">Evaluación de desempeño y reconocimiento de trabajadores por
                            prácticas seguras.</li>

                    </ul>
                </div>

            </div>
        </div>
    </div>






    <div class="card2">
        <div class="card-details">
            <p class="text-title">Evaluaciòn inicial del SG-SST</p>
        </div>
        <button class="card-button" data-bs-toggle="modal" data-bs-target="#exampleModal2">Ver más</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel2">Evaluaciòn inicial del SG-SST</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Evaluación inicial del SG/SST de acuerdo al Decreto 1072 de 2015 y
                            Resolución 0312 de 2019</li>
                        <li class="list-group-item">Entrega y socialización del informe de resultados.</li>


                    </ul>
                </div>

            </div>
        </div>
    </div>












    <div class="card3">
        <div class="card-details">
            <p class="text-title">Capacitaciones en SST</p>
            <!-- <p class="text-body">Here are the details of the card</p> -->
        </div>
        <button class="card-button" data-bs-toggle="modal" data-bs-target="#exampleModal3">Ver más</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel3">Capacitaciones en SST</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Capacitaciones virtuales o presenciales de seguridad y salud en el trabajo.</li>


                    </ul>
                </div>

            </div>
        </div>
    </div>

</section>






<section class="contenedor-cards">


    <div class="card4">
        <div class="card-details">
            <p class="text-title">Programas de Gestiòn de Riesgos</p>
            <!-- <p class="text-body">Here are the details of the card</p> -->
        </div>
        <button class="card-button" data-bs-toggle="modal" data-bs-target="#exampleModal4">Ver más</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel4">Programas de Gestiòn de Riesgos</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Programas de gestión de riesgos prioritarios.</li>
                        <li class="list-group-item">Plan estrategico de Seguridad Vial.</li>
                        <li class="list-group-item">Sistemas de Vigilancia epidemiologica.</li>
                        <li class="list-group-item">Diseño, implementación y seguimiento de los programas.</li>

                    </ul>
                </div>

            </div>
        </div>
    </div>











    <div class="card5">
        <div class="card-details">
            <p class="text-title">Matriz de Peligros</p>
            <!-- <p class="text-body">Here are the details of the card</p> -->
        </div>
        <button class="card-button" data-bs-toggle="modal" data-bs-target="#exampleModal5">Ver más</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel5" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel5">Matriz de Peligros</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Visitas técnicas de inspección</li>
                        <li class="list-group-item">Aplicación de encuestas de autoidentificación de peligros.</li>
                        <li class="list-group-item">Socialización y entrega del documento.</li>


                    </ul>
                </div>

            </div>
        </div>
    </div>











    <div class="card6">
        <div class="card-details">
            <p class="text-title">Investigaciones de accidentes de trabajo y enfermedades laborales</p>
            <!-- <p class="text-body">Here are the details of the card</p> -->
        </div>
        <button class="card-button" data-bs-toggle="modal" data-bs-target="#exampleModal6">Ver más</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel6" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel6">Investigaciones de accidentes de trabajo y enfermedades laborales</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Visitas tecnicas de inspección.</li>
                        <li class="list-group-item">Entrevistas a trabajadores involucrados.</li>
                        <li class="list-group-item">Investigación de Accidentes leves, graves mortales, incidentes y enfermedades laborales.</li>
                        <li class="list-group-item">Apoyo de personal idoneo de acuerdo al tipo de accidente presentado.</li>


                    </ul>
                </div>

            </div>
        </div>
    </div>









</section>


<section class="contenedor-cards">


    <div class="card7">
        <div class="card-details">
            <p class="text-title">Planes de prevención, preparación y respuesta ante emergencias</p>
        </div>
        <button class="card-button" data-bs-toggle="modal" data-bs-target="#exampleModal7">Ver más</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel7" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel7">Planes de prevención, preparación y respuesta ante emergencias</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Diseño y/o actualización del plan de emergencias.</li>
                        <li class="list-group-item">Acompañamiento en simulacros de emergencias.</li>
                        <li class="list-group-item">Conformación, capacitación y entrenamiento de brigada de emergencias.</li>
                        <li class="list-group-item">Diseño de planos de evacuación.</li>


                    </ul>
                </div>

            </div>
        </div>
    </div>










    <div class="card8">
        <div class="card-details">
            <p class="text-title">Actividades Ludicas de SST</p>
        </div>
        <button class="card-button" data-bs-toggle="modal" data-bs-target="#exampleModal8">Ver más</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel8" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel8">Actividades Ludicas de SST</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Dinamicas enfocadas en peligros y riesgos.</li>
                        <li class="list-group-item">Obras de teatro.</li>
                        <li class="list-group-item">Talleres virtuales o presenciales.</li>
                        <li class="list-group-item">Personal ideoneo y calificado para cada actividad ludica.</li>


                    </ul>
                </div>

            </div>
        </div>
    </div>
















    <div class="card9">
        <div class="card-details">
            <p class="text-title">Aplicativo Web para seguimiento del SG-SST</p>
        </div>
        <button class="card-button" data-bs-toggle="modal" data-bs-target="#exampleModal9">Ver más</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal9" tabindex="-1" aria-labelledby="exampleModalLabel9" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel9">Aplicativo Web para seguimiento del SG-SST</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Seguimiento del avance del SG-SST por fases en linea.</li>
                        <li class="list-group-item">Acceso a guias / videos de implementación del SG-SST.</li>
                        <li class="list-group-item">Guias / videos de actividades ludicas de SST.</li>
                        <li class="list-group-item">Normatividad actualizada.</li>


                    </ul>
                </div>

            </div>
        </div>
    </div>














</section>








<h1 class="tituloInhouse">Servicios Inhouse SST</h1>

<section class="inhouse">
    <p class="text-inhouse">
        Ofrecemos servicios inhouse de SST (Seguridad y Salud en el Trabajo) para tu empresa, brindando soluciones
        integrales de gestión de seguridad laboral directamente desde tu organización. Nuestro equipo de expertos se
        encarga de implementar políticas de prevención, capacitar a tu personal, realizar inspecciones y asegurarse de
        que cumplas con todas las regulaciones de seguridad en el trabajo. Con nuestros servicios inhouse de SST, puedes
        mantener un entorno laboral seguro y saludable de manera eficiente y personalizada.
    </p>
    <p class="text-inhouseMovil"></p>

</section>




<section class="inhouse-cards">

    <div class="card" style="width: 20rem; border-top: 4px solid #224b9d">
        <div class="card-body">
            <h5 class="card-title">TECNOLOGO SST</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Diseño e implementación del SG-SST (empresas 1-50 trabajadores)</li>
                <li class="list-group-item">Capacitaciones</li>
                <li class="list-group-item">Inspecciones</li>
                <li class="list-group-item">Acompañamiento en investigaciones de accidentes de trabajo.</li>

            </ul>
        </div>
    </div>



    <div class="card" style="width: 20rem; border-top: 4px solid #224b9d">
        <div class="card-body">
            <h5 class="card-title">PROFESIONAL SST</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Diseño e implementación del SG-SST </li>
                <li class="list-group-item">Capacitaciones</li>
                <li class="list-group-item">Inspecciones</li>
                <li class="list-group-item">Investigaciones de accidentes de trabajo.</li>
                <li class="list-group-item">Administración del SG-SST.</li>
                <li class="list-group-item">Seguridad e Higiene Industrial</li>

            </ul>
        </div>
    </div>



    <div class="card" style="width: 20rem; border-top: 4px solid #224b9d">
        <div class="card-body">
            <h5 class="card-title">ESPECIALISTAS SST</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Profesionales especialistas en SST:</li>
                <li class="list-group-item">Psicologos</li>
                <li class="list-group-item">Fisioterapeutas</li>
                <li class="list-group-item">Ingenieros industriales</li>
                <li class="list-group-item">Otros especialistas requeridos según sea el caso.</li>

            </ul>
        </div>
    </div>









</section>



