
<h4>VIDEOS - GUIAS</h4>

<section class="contenedor-videos">

    <div class="card">
        <iframe width="300" height="100" src="https://www.youtube.com/watch?v=lY27etKo85s" frameborder="0" allowfullscreen></iframe>
        <div class="card-body">
            <h5 class="card-title">Título del video</h5>
            <p class="card-text">Descripción del video.</p>
        </div>
    </div>

    

</section>

<hr>

<h4>ACTIVIDADES LUDICAS SST</h4>

<section class="contenedor-videos">

   <p>VIDEOS</p>

    

</section>

<hr>

<h4>NORMATIVIDAD SST</h4>

<section class="contenedor-videos">

   <p>lista de normatividad</p>

    

</section>

