.contendeor-cards {
  display: flex;
  justify-content: center;
}


.card {
  overflow: hidden;
  position: relative;
  text-align: left;
  border-radius: 0.5rem;
  width: 90%;
  height: 354px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  /* background-color: #ffffffea; */
  background: #3493e643;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ec6ead44, #3493e639);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ec6ead2c, #3493e645);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-color: white;
}


.card-details {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
}


.text-body {
  color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #224b9d;
}