<section  id="contenidoPdf"  class="contendeor-cards">

  



  <div class="card">
    <div class="card-details">
      <p class="text-title">Avance del SG-SST</p>
    </div>

    <section class="content-general">

      <section class="grafico">
        <ngx-charts-advanced-pie-chart [view]="view" scheme="aqua" [results]="single" [gradient]="gradient"
          (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
        </ngx-charts-advanced-pie-chart>
      </section>

    </section>

    <section class="contenedor-tituloTabla">
      <p class="titulo-tabla">

        Recuerda que, dependiendo de la calificación obtenida, debes realizar un plan de mejoramiento de acuerdo con la siguiente tabla:

      </p>
    </section>


    <section class="contenedor-tabla1">

    <section class="tabla">


      <table>
        <thead>
          <tr>
            <th>Criterio</th>
            <th>Valoración</th>
            <th>Acción</th>
        

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Si el puntaje obtenido es menor al 60%</td>
            <td>CRÍTICO</td>
            <td >

              <ul>
                <li>
                  Realizar y tener a disposición del Ministerio del Trabajo un Plan de Mejoramiento de inmediato.
                </li>
                <li>
                  Enviar a la ARL reporte de avances en el término máximo de tres (3) meses.
                </li>
                <li>
                  Seguimiento anual y plan de visita por parte del Ministerio del Trabajo.
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Si el puntaje obtenido está entre el 60 y 85%</td>
            <td>MODERADAMENTE ACEPTABLE</td>
            <td>

              <ul>
                <li>
                  Realizar y tener a disposición del Ministerio del Trabajo un Plan de Mejoramiento.
                </li>
                <li>
                  Enviar a la ARL reporte de avances en el término máximo de tres (6) meses.
                </li>
                <li>
                  Plan de visita por parte del Ministerio del Trabajo.
                </li>
              </ul>
            </td>
        
            
          </tr>

          <tr>
            <td>Si el puntaje obtenido es mayor al 85%</td>
            <td>ACEPTABLE</td>
            <td>

              <ul>
                <li>
                  Mantener la calificación y evidencias a disposición del Ministerio del Trabajo, e incluir en el Plan de Anual de Trabajo las mejoras detectadas.
                </li>
                
              </ul>
            </td>
        
            
          </tr>
        </tbody>
      </table>






    </section>

  </section>



  
<section class="contenedor-tabla2">

  <section class="tabla">
  
  
    <table>
      <thead>
        <tr>
          <th>Criterio</th>
          <th>Valoración</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Si el puntaje obtenido es menor al 60%</td>
          <td>CRÍTICO</td>
        </tr>
        <tr>
          <th colspan="2">Acción</th>
        </tr>
        <tr>
          <td colspan="2">
  
            <ul>
              <li>
                Realizar y tener a disposición del Ministerio del Trabajo un Plan de Mejoramiento de inmediato.
              </li>
              <li>
                Enviar a la ARL reporte de avances en el término máximo de tres (3) meses.
              </li>
              <li>
                Seguimiento anual y plan de visita por parte del Ministerio del Trabajo.
              </li>
            </ul>
          </td>
        </tr>
        
      </tbody>
    </table>
  
  
    
  
  
  
  
  
  
  </section>
  
  
  <section class="tabla">
  
  
    <table>
      <thead>
        <tr>
          <th>Criterio</th>
          <th>Valoración</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Si el puntaje obtenido está entre el 60 y 85%</td>
          <td>MODERADAMENTE ACEPTABLE</td>
        </tr>
        <tr>
          <th colspan="2">Acción</th>
        </tr>
        <tr>
          <td colspan="2">
  
            <ul>
              <li>
                Realizar y tener a disposición del Ministerio del Trabajo un Plan de Mejoramiento.
              </li>
              <li>
                Enviar a la ARL reporte de avances en el término máximo de tres (6) meses.
              </li>
              <li>
                Plan de visita por parte del Ministerio del Trabajo.
              </li>
            </ul>
          </td>
        </tr>
        
      </tbody>
    </table>
  
  
  </section>
  
  
  
  
  
  <section class="tabla">
  
  
    <table>
      <thead>
        <tr>
          <th>Criterio</th>
          <th>Valoración</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Si el puntaje obtenido es mayor al 85%</td>
          <td>ACEPTABLE</td>
        </tr>
        <tr>
          <th colspan="2">Acción</th>
        </tr>
        <tr>
          <td colspan="2">
  
            <ul>
              <li>
                Mantener la calificación y evidencias a disposición del Ministerio del Trabajo, e incluir en el Plan de Anual de Trabajo las mejoras detectadas.
              </li>
            
            </ul>
          </td>
        </tr>
        
      </tbody>
    </table>
  
  
  </section>
  
  </section>




  </div>



</section>


<button (click)="generarPdf()" >Descargar Informe</button>

