<section class="contendeor-cards">

   

    <div class="card">
        <div class="card-details">
            <p class="text-title">Avance del SG-SSST</p>

            <p *ngFor="let listaServicios of arrServicios">{{listaServicios.usuario}}</p>




        </div>
        
    </div>

    

</section>



<!-- <ngx-charts-advanced-pie-chart
                [view]="view"
                scheme="aqua"
                [results]="single"
                [gradient]="gradient"
                (select)="onSelect($event)"
                (activate)="onActivate($event)"
                (deactivate)="onDeactivate($event)"></ngx-charts-advanced-pie-chart> -->
                