<section   class="secfinal" >

    <article class="sectionfinal">

        <h1 class="tituloContac">
            Centro de Contacto
        </h1>

        <p class="textContact">Con el objetivo de proporcionarte una experiencia positiva, en A&M Consultorias hemos establecido diversos canales para abordar tus consultas y responder a tus inquietudes de manera eficiente.</p>

        <p class="textMovil"></p>

        <button class="botonContact" (click)="irContactanos()" ><a routerLink="contactanos"  routerLinkActive="active"  >Contactanos</a></button>

    </article>

    <section class="contenedorimg">
    
        <img  class="imgContact" src="../../../../assets/imagens/Imagen14.png">
        
    </section>


    

</section>








<footer >


    <p class="textoFooter">
        A&M Consultores <br>
        ©Todos los derechos reservados
    </p>


</footer>









<!-- 

<div class="footer">
    <div class="container">     
        <div class="row">                       
            <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="single_footer">
                    <h4>Servicios</h4>
                    <ul>
                        <li><a href="#">Diseño e Implementación del SG-SST</a></li>
                        <li><a href="#">Capacitaciones en SST</a></li>
                        <li><a href="#">Actividades Lúdicas </a></li>
                        <li><a href="#">Programas de Gestiòn de Riesgos</a></li>
                        <li><a href="#">Aplicativo Web para seguimiento del SG-SST</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single_footer single_footer_address">
                    <h4>Enlaces</h4>
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Nuestros Servicios</a></li>
                        <li><a href="#">Contactanos </a></li>
                        <li><a href="#">Standard dummy text</a></li>
                        <li><a href="#">Type specimen book</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single_footer single_footer_address">
                    <h4>Subscribe today</h4>
                    <div class="signup_form">                           
                        <form action="#" class="subscribe">
                            <input type="text" class="subscribe__input" placeholder="Enter Email Address">
                            <button type="button" class="subscribe__btn"><i class="fas fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
                <div class="social_profile">
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>                          
            </div>        
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <p class="copyright">Copyright © 2023 A&M Consultores.</p>
            </div>                
        </div>             
    </div>
</div> -->