<h4>VIDEOS - GUIAS</h4>

<section class="contenedor-videos">

    <section class="video1">

        <youtube-player class="video" videoId="A-IRh3lE3DM" suggestedQuality="highres" [height]="200" [width]="300"
            [startSeconds]="4" [endSeconds]="8">
        </youtube-player>


    </section>

    <section class="video1">

        <youtube-player class="video" videoId="OHeDBHfmSCE" suggestedQuality="highres" [height]="200" [width]="300"
            [startSeconds]="4" [endSeconds]="8">
        </youtube-player>


    </section>

    <section class="video1">

        <youtube-player class="video" videoId="W0Wzz9YtLGI" suggestedQuality="highres" [height]="200" [width]="300"
            [startSeconds]="4" [endSeconds]="8">
        </youtube-player>


    </section>

</section>


<section class="contenedor-videos">

    <section class="video1">

        <youtube-player class="video" videoId="xSJb491aYzo" suggestedQuality="highres" [height]="200" [width]="300"
            [startSeconds]="4" [endSeconds]="8">dsj
        </youtube-player>


    </section>

    <section class="video1">

        <youtube-player class="video" videoId="dgpabPCnA2M" suggestedQuality="highres" [height]="200" [width]="300"
            [startSeconds]="4" [endSeconds]="8">
        </youtube-player>


    </section>

    <section class="video1">

        <youtube-player class="video" videoId="12GNLRW006Q" suggestedQuality="highres" [height]="200" [width]="300"
            [startSeconds]="4" [endSeconds]="8">
        </youtube-player>


    </section>

</section>



<section class="contenedor-videos">

    <section class="video1">

        <youtube-player class="video" videoId="8Y5HMpPDMZ4" suggestedQuality="highres" [height]="200" [width]="300"
            [startSeconds]="4" [endSeconds]="8">dsj
        </youtube-player>


    </section>

    <section class="video1">

        <youtube-player class="video" videoId="bNqEMc-pcyI" suggestedQuality="highres" [height]="200" [width]="300"
            [startSeconds]="4" [endSeconds]="8">
        </youtube-player>


    </section>

    <section class="video1">

        <youtube-player class="video" videoId="lwCX1aq6tB4" suggestedQuality="highres" [height]="200" [width]="300"
            [startSeconds]="4" [endSeconds]="8">
        </youtube-player>


    </section>

</section>










<section class="contenedor-videos">

    <section class="video1">

        <youtube-player class="video" videoId="A-IRh3lE3DM" suggestedQuality="highres" [height]="200" [width]="300"
            [startSeconds]="4" [endSeconds]="8">
        </youtube-player>


    </section>

    <section class="video1">

        <youtube-player class="video" videoId="OHeDBHfmSCE" suggestedQuality="highres" [height]="200" [width]="300"
            [startSeconds]="4" [endSeconds]="8">
        </youtube-player>


    </section>

    <section class="video1">

        <youtube-player class="video" videoId="W0Wzz9YtLGI" suggestedQuality="highres" [height]="200" [width]="300"
            [startSeconds]="4" [endSeconds]="8">
        </youtube-player>


    </section>

</section>














