h4 {
    color: #65b24a;
    font-weight: bold;
    margin-left: 4%;
    margin-bottom: 4%;

}

hr {
    color: linear-gradient(to right, #333, rgba(255, 255, 255, 0));
    background: linear-gradient(to right, #333, rgba(255, 255, 255, 0));
    height: 2px;
    margin: 4%;
}

.contenedor-videos {
    margin-left: 5%;
    display: flex;
}

.video1 {
    margin: 2%;

}


@media (max-width: 768px) {
    .contenedor-videos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 5px;
        margin-bottom: 7%;
        margin-left: 0;
        margin-right: 0;
        
    }

    .video1 {
        margin: 2%;
    }


    h4 {
        text-align: center;
    }


}



@media (min-width: 769px) and (max-width: 1227px) {
    .contenedor-videos {
        display: flex;
        flex-wrap: wrap; /* Permite que los elementos se envuelvan en la siguiente fila */
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 5px;
        margin-bottom: 2%;
        margin-left: 0;
        margin-right: 0;
        
    }

    .video1 {
        margin: 2%;
    }


    h4 {
        text-align: center;
        
    }



}