<nav class="navbar navbar-expand-lg fixed-top navbar-dark " style="background-color: #263047">
  <div class="container-fluid">
      <a class="navbar-brand " routerLink="/inicio-panel/seguimiento" routerLinkActive="active">A&M Consultores</a>

  </div>
</nav>


<section class="contendor-header">

  <section class="contenedor-bienvenido">

    <h1 class="bienvenido">Bienvenido</h1>


  </section>

  <section class="menu-desplegable">

    <div class="dropdown ">
      <button class="btn btn-secondary dropdown-toggle  botonMenu" type="button" data-bs-toggle="dropdown" aria-expanded="false" >
        Menu
      </button>
      <ul class="dropdown-menu">

        <li>
          <a class="dropdown-item" routerLink="/inicio-panel/seguimiento" routerLinkActive="active">Seguimiento</a>
        </li>

        <li>
          <a class="dropdown-item" routerLink="/inicio-panel/guias" routerLinkActive="active">Guias</a>
        </li>

        <li><a class="dropdown-item" routerLink="/inicio-panel/actividades-ludicas"
            routerLinkActive="active">Actividades Lúdicas</a>
        </li>

        <li>
          <a class="dropdown-item" routerLink="/inicio-panel/normatividad" routerLinkActive="active">Normatividad</a>
        </li>

        <li><a class="dropdown-item"  (click)="onClickLogout()">Cerrar sesión</a></li>




      </ul>
    </div>


  </section>

</section>

<hr>











<section class="contenedor-general">




  <section class="contenedor-navbar">


    <ul class="nav flex-column nav-underline ">
      
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/inicio-panel/planear"
          routerLinkActive="active" >Planear</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/inicio-panel/hacer"
          routerLinkActive="active" >Hacer</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/inicio-panel/verificar"
          routerLinkActive="active">Verificar</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/inicio-panel/actuar"
          routerLinkActive="active" >Actuar</a>
      </li>



      
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/inicio-panel/seguimiento"
          routerLinkActive="active"  >Seguimiento</a>
      </li>    

      <li class="nav-item">
        <a class="nav-link" routerLink="/inicio-panel/guias" routerLinkActive="active">Guias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/inicio-panel/actividades-ludicas" routerLinkActive="active">Actividades
          Lúdicas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/inicio-panel/normatividad" routerLinkActive="active">Normatividad</a>
      </li>
      <!-- <li class="nav-item">
                <a class="nav-link"  routerLink="/inicio-panel/beneficios" routerLinkActive="active">Beneficios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"   routerLink="/inicio-panel/perfil" routerLinkActive="active">Mi perfil</a>
            </li> -->
      <li class="nav-item">
        <a class="nav-link"  (click)="onClickLogout()" href>Cerrar sesión</a>
      </li>
    </ul>






  </section>




  <section class="contenedor-componentes">

    <router-outlet></router-outlet>

  </section>






</section>


<!-- <nav class="navbar   nav flex-column">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/imagens/contact/Imagen1.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        Bootstrap
      </a>
    </div>
  </nav> -->


  