<section id="login-inicio" class="contenedor-general">

    <section class="contenedor-text">

        <h1 class="titulo-text">Bienvenido!</h1>

        <section class="contenedor-imagen">

        </section>

    </section>





    <form id="my-form" [formGroup]="formulario" (ngSubmit)="onSubmit()"   class="form card" >
        
        <div class="card_header">
            <h1 class="form_heading">Iniciar Sesión</h1>
        </div>

        <section class="field">
            <label>Correo electrónico:</label>
            <input type="email" class="input" formControlName="email" placeholder="Escribe el email">
        </section>

        <section class="field">
            <label>Contraseña:</label>
            <input type="password" class="input" formControlName="password" placeholder="Escribe la contraseña">
        </section>

        <div class="field-button">
            <button id="my-form-button" type="submit" class="button">Ingresar</button>
        </div>


    </form>

</section>



