
.contenedor {
    margin: 0%;
    margin-top: 0%;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

h3 {
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 7%;
    margin-top: 0;
    

}

.formulario {
    margin: 5%;
    padding: 3%;
    padding-top: 2%;
    width: 40%;
    background-image: linear-gradient(270deg, #427987 0, #22697b 50%, #005a6f 100%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border-radius: 30px;
    
}

.form-control {
    background-color: rgba(240, 248, 255, 0.679);
}

.boton{
    background-color: rgb(61, 60, 65);
    margin-inline: auto;
    display: flex;
    justify-content: center;
    color: rgb(254, 252, 252);
    width: 30%;
    height: 15%;
    border: none;
    border-radius: 5px;
    margin-top: 3%;    
    
    
}