<h4>ACTIVIDADES LUDICAS SST</h4>

<section class="contenedor-videos2">


    <section class="video2">

        <youtube-player class="video" videoId="f31t-cgGnYk" suggestedQuality="highres" [height]="200" [width]="300"
            [startSeconds]="4" [endSeconds]="8">dsj
        </youtube-player>

        <section class="contenedor-texto">

            <h5 class="titulos-videos">Dinamica de Participación de SST</h5>

            <p class="texto-videos">En las capacitaciones de SST, cuando pedimos aportes, opiniones o respuestas de
                los trabajadores, normalmente solo participan activamente unas cuántas personas. Con esta idea
                garantizamos que lo haga el 100%.</p>

        </section>


    </section>


    <section class="video2">

        <youtube-player class="video" videoId="HgVopGVpoUk" suggestedQuality="highres" [height]="200" [width]="300"
            [startSeconds]="4" [endSeconds]="8">dsj
        </youtube-player>

        <section class="contenedor-texto">

            <h5 class="titulos-videos">Dinámica Grupal: Comunicación y Acción</h5>

            <p class="texto-videos">Se refiere a un proceso en el que un grupo de individuos interactúa y colabora para
                comunicarse eficazmente y tomar medidas conjuntas. Esta dinámica se centra en mejorar la comunicación y
                la colaboración dentro del grupo para lograr objetivos comunes.</p>

        </section>


    </section>


    <section class="video2">

        <youtube-player class="video" videoId="dHj4elP7Ktk" suggestedQuality="highres" [height]="200" [width]="300"
            [startSeconds]="4" [endSeconds]="8">dsj
        </youtube-player>

        <section class="contenedor-texto">

            <h5 class="titulos-videos">Dinámica sobre Análisis de Riesgos</h5>

            <p class="texto-videos"> Es una actividad para identificar y comprender peligros en situaciones o proyectos,
                mejorando la toma de decisiones seguras.</p>

        </section>


    </section>


    <section class="video2">

        <youtube-player class="video" videoId="5fO3ju98EoQ" suggestedQuality="highres" [height]="200" [width]="300"
            [startSeconds]="4" [endSeconds]="8">dsj
        </youtube-player>

        <section class="contenedor-texto">

            <h5 class="titulos-videos">Piedra, papel, o tijera... ¡Humano</h5>

            <p class="texto-videos">Es una variante comunicativa y lúdica del juego tradicional. Al agregar el elemento
                "humano", fomenta la comunicación y la interacción entre los participantes, promueve la expresión verbal
                y la comunicación efectiva mientras se divierten jugando.</p>

        </section>


    </section>



    <section class="video2">

        <youtube-player class="video" videoId="bjRmfToNFXU" suggestedQuality="highres" [height]="200" [width]="300"
            [startSeconds]="4" [endSeconds]="8">dsj
        </youtube-player>

        <section class="contenedor-texto">

            <h5 class="titulos-videos">Dinámica de Peligros y Riesgos con fútbol</h5>

            <p class="texto-videos">Esta dinámica sirve para enseñar los conceptos de Identificación de Peligros y Evaluación de Riesgos de una forma andragógica y divertida.</p>

        </section>


    </section>




    <section class="video2">

        <youtube-player class="video" videoId="pBunvc5yAgQ" suggestedQuality="highres" [height]="200" [width]="300"
            [startSeconds]="4" [endSeconds]="8">dsj
        </youtube-player>

        <section class="contenedor-texto">

            <h5 class="titulos-videos">Dinámica sobre Botiquín de Emergencias</h5>

            <p class="texto-videos">Con esta dinámica podemos explicar el contenido e importancia del Botiquín de Emergencias.</p>

        </section>


    </section>


    <section class="video2">

        <youtube-player class="video" videoId="szBnGVLsGbs" suggestedQuality="highres" [height]="200" [width]="300"
            [startSeconds]="4" [endSeconds]="8">dsj
        </youtube-player>

        <section class="contenedor-texto">

            <h5 class="titulos-videos">Dinamica: Los Saludos, la importancia del saludo</h5>

            <p class="texto-videos">Interacción social inicial entre personas y resalta la importancia de un saludo adecuado como una forma de establecer conexiones y mostrar cortesía en diversas situaciones.</p>

        </section>


    </section>




    <section class="video2">

        <youtube-player class="video" videoId="7gM9ky_LxmY" suggestedQuality="highres" [height]="200" [width]="300"
            [startSeconds]="4" [endSeconds]="8">dsj
        </youtube-player>

        <section class="contenedor-texto">

            <h5 class="titulos-videos">Dinámica: Listones (Trabajo en equipo)</h5>

            <p class="texto-videos">Los participantes deben pasar los listones de un extremo a otro de un grupo sin soltarse las manos. Esta actividad fomenta la cooperación, la comunicación y la coordinación entre los miembros del equipo para lograr un objetivo común sin romper la cadena de manos.</p>

        </section>


    </section>



























</section>