
    <header>

        <nav *ngIf="!userService.isLogged()" class="navContent">
            
            <Ul >
                <a routerLink="home" routerLinkActive="active">A&M Consultores</a>
                <li><a routerLink="home"  routerLinkActive="active">Inicio</a></li>
                <li ><a routerLink="servicios"  routerLinkActive="active">Nuestros Servicios</a></li>
                <li ><a routerLink="contactanos"  routerLinkActive="active">Contactanos</a></li>
                <li><a routerLink="register"  routerLinkActive="active">Regístrate</a></li>
                <li><a routerLink="login"  routerLinkActive="active">Iniciar Sesión</a></li>
                <li><a (click)="onClickLogout()">Cerrar sesión</a></li>
            </Ul>
        
        </nav>

    </header>
