


<header *ngIf="!userService.isLogged()">

    <nav class="navbar navbar-expand-lg fixed-top navbar-dark " style="background-color: #263047">
        <div class="container-fluid">
            <a class="navbar-brand " routerLink="home" routerLinkActive="active">A&M Consultores</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link"  routerLink="home"
                        routerLinkActive="active">Inicio</a>
                    <a class="nav-link" routerLink="servicios" routerLinkActive="active">Nuestros Servicios</a>
                    <a class="nav-link" routerLink="footer" routerLinkActive="active"  (click)="footer()">Contactanos</a>
                    <a class="nav-link" routerLink="register" routerLinkActive="active">Regístrate</a>
                    <a class="nav-link " routerLink="login" routerLinkActive="active">Iniciar Sesión</a>
                </div>
            </div>
        </div>
    </nav>

</header>

<!-- <section id="footer">

    <app-footer></app-footer>

</section>
 -->
